<%- include header %>

<ul style="list-style:none">
    <li><h3><a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a> </h3> </li>
    <li><h3><a href="http://www.tancans.com">谭灿的网站</a>欢迎访问</h3></li>
</ul>

<%- include footer%>