<%- include header %>
<div class="am-g">
  <div class="am-u-lg-6 am-u-sm-centered">
    <form method="post" class="am-form">
      <label for="text">Username：</label>
      <input type="text" name="name">
      <br>
      <label for="password">password:</label>
      <input type="password" name="password">
      <br>
      <br />
      <div class="am-cf">
       <input type="submit" value="LOGIN" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
  </div>
</div>

<!--<form method="post">-->
    <!--用户名： <input type="text" name=="name"/><br/>-->
    <!--密码： <input type="password" name="password"/><br/>-->
    <!--<input type="submit" value="登录" />-->
<!--</form>-->

<%- include footer %>