<meta charset="utf-8">
<%- include header %>
<div class="am-g">
  <div class="am-u-lg-8 am-u-sm-centered">
   <form method="post" class="am-form">
    TITLE:<br/>
    <input type="text" name="title"><br/>
    Label: <br/>
    <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
    CONTENT:<br/>
    <textarea name="post" rows="20" cols="90"></textarea><br/>
    <input type="submit" value="publish" class="am-btn am-btn-primary">
    </form>
   </div>
 </div> <meta charset="utf-8">
<%- include footer %>